body{
	background: #FFFFFF url("../images/animais.jpg") no-repeat left top fixed;
	max-width: 2000px;
}
#clickMe{
	background:#D8B36E;
	padding: 20px;
	text-align: center;
	width: 250px;
	display: block;
	border: 2px solid #000
	border-radius: 250px;
	font-family: Arial;
	font-size: 25px;
	color: white;
	font-style: oblique;
	position: absolute;
	z-index: 9999;
}
#picframe{
	background:#D8B36E;
	padding: 20px;
	text-align: center;
	width: 250px;
	display: none;
	border: 2px solid #000
	border-radius: 250px;
	position: absolute;
}
#picframe img{
	width: 250px;
}
#amigo{
	font-family: Arial;
	font-size: 20px;
	color: white;
}
#info{
	height: 100px;
	text-indent: 5%;
	padding: 0% 20%;
  	top: 130px;
  	left: 5px;
  	right: 20px;
}
#info strong p {
	font-size: 22px;
	color: white;
}
#info p {
	font-size: 22px;
	color: white;
	text-align: justify;
}
#info p img{
	padding-right: 12px;
}
#info img {
	text-align: center;
	padding-right: 0px 100px;
}
#pagamentos{
	font-size: 22px;
	color: white;
	text-align: center;
}
#myHeader {
  color: black;
  padding: 22px;
  text-align: center;
  border-radius: 47px;
  background: #179dee;
  box-shadow: inset 12px 12px 24px #0e6396,inset -12px -12px 24px #20d7ff;
}
footer{
	text-align: center;
	background-color: black;
	color: white;
	font-size: 16px;
}
